[Unit]
Description=weather fake data generator

[Service]
WorkingDirectory=/opt/fakeSonde
ExecStartPre=/usr/bin/npm install
ExecStart=/usr/bin/npm start

[Install]
WantedBy=multi-user.target
